h2, h3, h4, h5, h6, p, body {
margin : 0;
padding : 0;
font-size : 100%;
}
h1{
	visibility: hidden;
	margin: -30px 0 0 0;
}

body {
font-family : Arial, Helvetica, sans-serif;
font-size : 12px;
color : #ffffff;
line-height : 20px;
text-align : center;
margin:0px;
}
img {
border : none;
}
a{
	
	color : #ffffff;
}
#header h1 a {
width : 905px;
display : block;
text-indent : -9999px;
text-decoration : none;

height : 72px;
margin-top : 5px;
text-align : center;
}
#footer h2 a {
width : 905px;
display : block;
text-indent : -9999px;
text-decoration : none;
background : url(../images/footerlogos.png) no-repeat;
height : 100px;
margin-top : 10px;
}
h2 {
font-size : 180%;
letter-spacing : -1px;
margin-bottom : 10px;
color : #2c9be3;
}
h3 {
	margin: 10px 0 10px 0;
	font-size : 120%;
}
h4 {
	font-size : 130%;
	margin-bottom : 10px;
	color : #B0D9F4;
	font-weight: bold;
}
h4 a{color : #B0D9F4;
	}

a {
font-weight : bolder;
color : #ffffff;
}
p {
margin-bottom : 10px;
}
.blue h1, .blue h2, .blue h3, .blue h4 {
color : #ffffff;
}
.blue p, .blue p, .blue p, .blue p {
color : #ffffff;
}
.wrapper {
width : 100%;
margin : 0 auto 0 auto;
text-align : center;
}
.intro {
margin : 0 auto 0 auto;
background-color : #2c9be3;
background-image : url(../images/bluebg_top.jpg);
background-repeat : repeat-x;
background-position : top;
text-align : left;
}
/*===================================== PARA NETSALUTI STUDIO =======================================*/
.bg-inicio {
margin : 0 auto 0 auto; background:url(../images/bg-home.jpg) repeat-x; text-align : left;
}
.bg-inicio2 {
margin : 0 auto 0 auto; background:url(../images/bg-home.jpg) repeat-x 0px -160px; text-align : left;
}
.bg-somos {
margin : 0 auto 0 auto; background:url(../images/somos.jpg) repeat-x; text-align : left;
}
.bg-somos2 {
margin : 0 auto 0 auto; background:url(../images/somos.jpg) repeat-x; text-align : left;
}
.bg-hacemos {
margin : 0 auto 0 auto; background:url(../images/hacemos.jpg) repeat-x; text-align : left;
}
.bg-hacemos2 {
margin : 0 auto 0 auto; background:url(../images/hacemos.jpg) repeat-x 0px -15px; text-align : left;
}
.bg-portafolio {
margin : 0 auto 0 auto; background:url(../images/portafolio.jpg) repeat-x; text-align : left;
}
.bg-portafolio2 {
margin : 0 auto 0 auto; background:url(../images/portafolio.jpg) repeat-x; text-align : left;
}
.bg-contacto {
margin : 0 auto 0 auto; background:url(../images/contactenos.jpg) repeat-x; text-align : left;
}
.bg-contacto2 {
margin : 0 auto 0 auto; background:url(../images/contactenos.jpg) repeat-x 0px -15px; text-align : left;
}

#inicio{
	height:600px;
}
#inicio2{
	height:400px;
}
#title_inicio {
	background:url(../images/bg-tit-inicio.jpg) no-repeat; height:123px;
}
#somos{
	height:600px;
}
#somos2{
	height:400px;
}
#title_somos {
	background:url(../images/bg-somos-tit.png) no-repeat; height:91px;
}
#hacemos{
	height:600px;
}
#hacemos2{
	height:400px;
}
#title_hacemos {
	background:url(../images/bg-hacemos-tit.png) no-repeat; height:91px;
}
#portafolio{
	height:600px;
}
#portafolio2{
	height:400px;
}
#title_portafolio {
	background:url(../images/bg-portafolio-tit.png) no-repeat; height:91px;
}
#contacto{
	height:600px;
}
#contacto2{
	height:400px;
}
#title_contacto {
	background:url(../images/bg-contactenos-tit.png) no-repeat; height:91px;
}
.title {
	font-family:'Oswald', sans-serif, Arial; width : 1100px; height : 65px;
	/*font-family:"Arial Rounded MT Bold", Arial; width : 1100px; height : 65px;*/

}

/*===================================================================================================*/
.blue {
margin : 0 auto 0 auto;
background : #2c9be2 url(../images/bluebg_top.jpg) repeat-x;
text-align : left;
}
.black {
margin : 0 auto 0 auto;
background-image:url(file:///C|/Users/lorena/Desktop/Nueva%20carpeta/images/netsaluti_01.jpg);
background-repeat:no-repeat;
text-align : left;
}
.white {
margin : 0 auto 0 auto;
background-image : url(../images/bg_wht.jpg);
background-repeat : repeat-x;
background-position : top;
text-align : left;
}
.container {
margin : 0 auto;
width : 1100px;
padding : 0px;
position : relative;
}
#header {
height : 140px;
}
#ribbon{
	text-align: right;
	float: right;
}
.absolute {
position:absolute;
}


#footer {
height : 140px;
text-align : center;
margin : 0 auto;
}

#footer .container{

text-align : center;
margin : 0 auto;
}

#footer a {
height : 140px;
font-size : 10px;
color : #999999;
text-align : center;
margin-right : auto;
margin-left : auto;
}
#intro {
height : 480px;
background : url(../images/rocket.jpg) no-repeat right bottom;
}
#portfolio {
height : 600px;
}
#about {
height : 600px;
}
#contact {
height : 600px;
}
.contacttext {
font : large Arial, Helvetica, sans-serif;
}
.leftcol {
	margin: 0px 0 30px 0;
	width : 470px;
	padding-right : 40px;
	float : left;
}
.rightcol {
margin-top : 30px;
width : 325px;
float : right;
text-indent : -9999px;
}
.rightcol_map {
margin-top : 30px;
width : 325px;
float : right;
}
.large-text {
margin-top : 30px;
padding-top : 215px;
width : 379px;
float : right;
height : 349px;
margin-left : 10px;
}
.large-map {
width : 379px;
float : right;
height : 349px;
margin-left : 10px;
}
.three-col {
margin : 0 0 20px 0;
width : 257px;
padding-right : 25px;
float : left;
}
.clr {
margin : 0;
width : 1100px;
clear : both;
}
.title h2 {
text-indent : -9999px;
}
#logo {
background : url(../images/logo.png) no-repeat center;
height : 100px;
text-indent : -99999px;
}
#logo h1{
margin : 0;
padding : 0;
font-size : 100%;

	}

#title_portfolio {
background : url(../images/title_portfolio.png);
}
#title_about {
background : url(../images/title_about.png);
}
#title_contact {
background : url(../images/title_contact.png);
}
.largeportfolio {
background : url(../images/websites-out-of-this-world.png) no-repeat;
}
.largeabout {
background : url(../images/ima-webdesigner.png) no-repeat;
}
.largeintro {
background : url(../images/rocket_website_cyberspace.png) no-repeat;
height : 170px;
width : 480px;
padding-bottom : 25px;
text-indent : -9999px;
}
.nav_bar {
width : 560px;
right : 110;
position : absolute;
}
.nav_bar ul {
list-style : none;
padding : 0;
margin : 0;
float : right;
}
.nav_bar li {
float : left;
margin : 0 0 0 30px;
}
.nav_bar li a {
font-size : 155%;
text-transform : lowercase;
text-decoration : none;
letter-spacing : -2px;
display : block;
font-weight:normal;
}
.nav_bar li a:hover {
color : #333333;
}
.black .nav_bar li a:hover {
color : #2c9be3;
border-bottom-width : 2px;
border-bottom-style : solid;
border-bottom-color : #2c9be3;
}
.white .nav_bar {
top : 125px;
}
.white .nav_bar li a {
color : #000;
}
.white .nav_bar li a:hover {
color : #2c9be3;
border-bottom-width : 2px;
border-bottom-style : solid;
border-bottom-color : #2c9be3;
}
#gallery {
width : 525px;
margin : 0;
padding-right : 40px;
float : left;
}
#gallery ul {
list-style : none;
margin : 0;
padding : 0;
}
#gallery li {
display : block;
float : left;
width : 175px;
height : 90px;
}
#gallery li a {
display : block;
float : left;
width : 175px;
height : 90px;
background : url(../images/drop_shadow.png) no-repeat 0% 0;
}
#gallery li a:hover {
background : url(../images/drop_shadow.png) no-repeat 0% -90px;
}
#gallery img {
width : 155px;
height : 70px;
margin : 10px 0 0 10px;
}
#ps_container {
padding : 10px;
background : #000;
}
#ps_loading {
background : #000;
}
#ps_loading .load_image {
width : 48px;
height : 48px;
background : url(../images/spinner.gif);
margin : 0 auto;
}
#ps_loading .load_text {
color : #ccc;
font-size : 16px;
width : 100%;
text-align : center;
margin-top : 10px;
font-family : Arial;
}
#ps_close {
width : 25px;
height : 25px;
background : url(../images/ps_buttons.png);
cursor : pointer;
}
#ps_close.hover {
background-position : -25px 0%;
}
#ps_nav_left, #ps_nav_right {
width : 25px;
height : 35px;
cursor : pointer;
background : url(../images/ps_buttons.png);
}
#ps_nav_left {
background-position : 0% -25px;
}
#ps_nav_left.hover {
background-position : -25px -25px;
}
#ps_nav_right {
background-position : 0% -60px;
}
#ps_nav_right.hover {
background-position : -25px -60px;
}
#ps_overlay {
background : #000;
}
#ps_caption {
background : #000;
height : 40px;
overflow : hidden;
}
#ps_caption .text {
font-size : 18px;
font-weight : bold;
padding : 10px 20px;
}
.ps_image {
border : none;
}
